*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    height: 350px;
    width: 400px;
    background-color: white;
}
h1{
    color: goldenrod;
    font-family: cursive;
    line-height: 35px;
}
#head{
    padding-left: 100px;
}
#content_el{
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 50px;
    width: 60%;
    font-size: 1.5rem;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}
button:hover{
    border: 3px solid rgb(123, 139, 144);
}